os
shutil
jwt
fastapi
datetime
timedelta
python-dotenv
fastapi-security
mysql-connector-python
langchain-groq
langchain-core
passlib
uvicorn
python-multipart
python-pptx
pdfplumber
langchain
faiss-cpu
langchain-openai
